.number-input {
  margin: 5px;
  font-size: 1rem;
  display: inline-flex;
  max-width: fit-content;
  border-radius: 5px;
  background-color: var(--main-blue-dark);
}

@media (prefers-color-scheme: light) {
  .number-input {
    background-color: var(--main-blue-light);
  }
}
