.fraction-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6%;
  padding: 0.5em;
  margin-bottom: 2em;
  border-bottom: 2px solid white;
  &--textboxes {
    display: flex;
    height: 100%;
  }

  section {
    margin: 5px;
    padding: 0px;
    font-size: 30px;
  }

  input {
    margin: 5px;
    height: fit-content;
    font-size: 1rem;
    display: inline-flex;
    max-width: fit-content;
    border-radius: 5px;
    background-color: var(--main-blue-dark);
  }

  button {
    height: 30px;
    align-self: center;
    background-color: var(--main-blue-dark);
    border-radius: 5px;
    padding: 0.5em;
  }
}

@media (prefers-color-scheme: light) {
  .fraction-input {
    border-color: black;
    input {
      background-color: var(--main-blue-light);
    }

    button {
      background-color: var(--main-blue-light);
    }
  }
}
