#main-footer {
  margin-top: 5px;

  &--popper {
    background-color: hsl(0, 0%, 100%, 60%);
    color: hsl(0, 0%, 0%, 70%);
  }

  .github-darkmode {
    width: 40px;
    height: 40px;
  }
  .github-lightmode {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .github-lightmode {
    width: 40px;
    height: 40px;
  }

  .github-darkmode {
    display: none;
  }
}
